<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title><%= htmlWebpackPlugin.options.title %></title>

	<%= require('ejs-loader!./_meta.ejs')({ data: htmlWebpackPlugin.options }) %>
	<%= require('ejs-loader!./_favicons.ejs')() %>

</head>
<body>
	<%= require('ejs-loader!./_browserhappy.ejs')() %>

	<main>
		<h1>Boilerplate</h1>
	</main>

	<%= require('ejs-loader!./_version.ejs')({ data: htmlWebpackPlugin.options }) %>
	<%= require('ejs-loader!./_analytics.ejs')({ data: htmlWebpackPlugin.options }) %>
</body>
</html>
